/* NAVIGATION */
nav {
  .nav-wrapper {
    li input[type=text] {
      margin: 0;
    }
  }
}

.card .card-content {
  padding: 0;
}

.recipe.card{
 .card-image {
    img{
      height: 300px;
    }
  }
  .card-title{
      background: rgba(0,0,0,0.5);
      padding: 5px;
      margin: 0 0 10px 10px;
    }
}

.categoryCard {
  .card {
    border-radius: 14px;
    text-align: center;
    background-color: #EE6F63;
    color: #FFF;
  }

  .card .card-image img {
    display: unset;
    width: 70%;
    margin-top: 7.5%;
  }

  .card .card-content div{
    padding-bottom: 7.5%;
  }
}

.chip {
  cursor: pointer;
}

.step {
  margin-bottom: 25px;
}

.btn {
  border-radius: 20px;
}

.no-display {
  display: none;
}

.action-button {
  margin-right: 15px;
}

@media only screen and (min-width: 1550px){
  .row .col.side{
    width: 16.6666666667%;
  }
  .row .col.main{
    width: 66.6666666667%;
  }
}



.row .col.m1.categoryCard{
    width: 20%;
}

@media only screen and (min-width: 601px){
  .row .col.m1.categoryCard{
    width: 15%;
  }
}

@media only screen and (min-width: 750px){
  .row .col.m1.categoryCard{
    width: 10%;
  }
}

@media only screen and (min-width: 1250px){
  .row .col.side{
    width: 16.6666666667%;
  }
  .row .col.main{
    width: 66.6666666667%;
  }

}

@media only screen and (min-width: 1550px){
  .row .col.m1.categoryCard{
    width: 8%;
  }
}